<mat-toolbar class="header" outline = "none">
  <button mat-button  [matMenuTriggerFor]="menu">Menu</button>
  <button class="button"  mat-button  (click)="logOut()"> LogOut</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="getPatients()" >Patients</button>
    <button mat-menu-item (click)="getDrugs()" >Drugs</button>
    <button mat-menu-item (click)="getCaregivers()" >Caregivers</button>
    <button mat-menu-item (click)="addIntake()" >Add Medication Plan</button>
  </mat-menu>
</mat-toolbar>
