<app-header></app-header>
<div class="back">
<form class="px-4 py-3" (ngSubmit)="confirmModify()">
          <div *ngIf="drug">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="name" class="form-control" id="name"   style="width:300px"
                     [(ngModel)]="drug.name" name="name">
            </div>

            <div class="form-group">
              <label for="sideeffect">Side Effect</label>
              <input type="sideeffect" class="form-control" id="sideeffect"  style="width:300px"
                     [(ngModel)]="drug.sideeffect" name="sideeffect">
            </div>

            <div class="form-group">
              <label for="dosage">Dosage</label>
              <input type="text" class="form-control" id="dosage"  style="width:300px"
                     [(ngModel)]="drug.dosage" name="dosage">
            </div>

            <div>
              <button type="submit" class="btn btn-primary" >Confirm</button>
            </div>

          </div>

</form>
</div>
