.back{
  background-image: url('../images/green_med2.jpg');
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  font-size: 150px;
  font-style: inherit;
  text-align: center;
  font-family: "Freestyle Script" ;
  margin-top: 0px;
}
.hello {
margin-top: 100px;

}
.container {
  margin: 0px;
}
.header {
  opacity: 5%;
}

