table {
  width: 100%;
}
.form-inline {

  display: flex;
  flex-flow: row wrap;
  align-items: center;
}



.form-inline input {
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}
.back{
  background-image: url('../images/green_med.jpg');
  background-size: 100%;
  background-repeat: repeat;
}
.container {
  margin: 0px;
}
.mybutton {
  background-color: #058c23;
}
