<app-header></app-header>
<div class="back">
<form class="px-4 py-3" (ngSubmit)="confirmModify()">
  <div *ngIf="caregiver">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" id="name"   style="width:300px"
             [(ngModel)]="caregiver.name" name="name">
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="birthday" class="form-control" id="birthday"  style="width:300px"
             [(ngModel)]="caregiver.birthday" name="birthday">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address"  style="width:300px"
             [(ngModel)]="caregiver.address" name="address">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender"  style="width:300px"
             [(ngModel)]="caregiver.gender" name="gender">
    </div>
    <div class="form-group">
      <label for="idCaregiver">Id Caregiver</label>
      <input type="text" class="form-control" id="idCaregiver" style="width:300px"
             [(ngModel)]="caregiver.idDoctor" name="idCaregiver">
    </div>
    <div class="form-group">
      <label for="idUser">Id User</label>
      <input type="text" class="form-control" id="idUser"  style="width:300px"
             [(ngModel)]="caregiver.idUser" name="idUser">
    </div>

    <div>
      <button type="submit" class="btn btn-primary" >Confirm</button>
    </div>

  </div>

</form>
</div>
